/ExcludeBoringWords.scala
/FriendsCalculator.scala
/KeywordAmount.scala
/LogLevel.scala
/LogLevelGrouping.scala
/LogLevelGroupingOptimized.scala
/RatingsCalculator.scala
/TotalSpend.scala
/TotalSpendFilter.scala
/WordCount.scala
/boringwords.txt
/practice.scala
